<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="{{ url_for('add_student') }}" method="POST">
            First name:<br>
            <input type="text" name="firstname" placeholder="First name"><br>
            Last name:<br>
            <input type="text" name="lastname" placeholder="Last name"><br>
            Address:<br>
            <input type="text" name="address" placeholder="Address"><br>
            City:<br>
            <input type="text" name="city" placeholder="City"><br>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            Pin:<br>
            <input type="text" name="pin" placeholder="Pin"><br>
            <br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>